#image-venue {
	background-image: url("../image/gallery/venuehire.jpg") !important;
}

#image-marquee {
	background-image: url("../image/gallery/marquee.jpg") !important;
}
#image-toilet {
	background-image: url("../image/gallery/toilet1.png") !important;
}

#image-catering {
	background-image: url("../image/gallery/catering.jpg") !important;
}


#image-lighting {
	background-image: url("../image/gallery/lighting1.jpg") !important;
}

#image-av {
	background-image: url("../image/gallery/av.png") !important;
}

#image-wedding {
	background-image: url("../image/gallery/wedding.png") !important;
}

#image-photographer {
	background-image: url("../image/gallery/Photographer2.png") !important;
}

#image-furniture {
	background-image: url("../image/gallery/furniture.png") !important;
}

#image-florist {
	background-image: url("../image/gallery/florist.jpg") !important;
}

#image-stylist {
	background-image: url("../image/gallery/stylist.jpg") !important;
}


#image-fencing {
	background-image: url("../image/gallery/fencing.png") !important;
}

#image-suit {
	background-image: url("../image/gallery/suit.png") !important;
}

#image-live {
	background-image: url("../image/gallery/band.png") !important;
}






#image-festival {
	background-image: url("../image/gallery/festivalgirl.png") !important;
}

#image-festival-blur {
	background-image: url("../image/gallery/festival-blur.png") !important;
}

#image-corporate {
	background-image: url("../image/gallery/corporate.png") !important;
}



#image-testimonial-wedding {
	background-image: url("../image/gallery/wedding-couple.png") !important;
}

#image-testimonial-corporate {
	background-image: url("../image/gallery/corporate-function.png") !important;
}

#image-testimonial-conference {
	background-image: url("../image/gallery/conference.png") !important;
}