.funnel-modal {
	.modal-dialog {
		min-width: 80%;
		text-align: center;
	}
	button.close {
		font-size: 2em;
	}
	.modal-body {
		text-align: center;
	}
	form {
		.content {
			display: none;
		}
		.funnel-title {
			font-size: 32px;
			font-style: normal;
			font-weight: 300;
			line-height: 1.4em;
			margin-bottom: 32px;
		}
		.funnel-buttons {
			margin-top: 12px;
			margin-bottom: 12px;
			.next-button {
				margin-top: 12px;
				margin-bottom: 12px;
				min-width: 260px;
			}
			.previous-button {
				padding-top: 12px;
				padding-bottom: 12px;
				cursor: pointer; cursor: hand; 
			}
		}
		.funnel-input {
			max-width: 800px;
			padding-right: 15px;
			padding-left: 15px;
			margin-right: auto;
			margin-left: auto;
			margin-top: 8px;
			margin-bottom: 8px;
		}
		.text-input {
			width: 630px;
			height: 157px;
			padding: 15px;
			border-radius: 5px;
			font-weight: 400;
			font-style: normal;
			font-size: 1.8rem;
			-moz-transition: all .2s ease-in;
			transition: all .2s ease-in;
		}

		.radio-wrapper {
			display: inline-block;
		}
		.radios .radio{
			width: 160px;
			height: 98px;
			border: 2px solid #e9ebee;
			background-color: #fff;
			text-align: center;
			padding: 0 8px;
			cursor: pointer;
			vertical-align: top;
			border-radius: 5px;
			margin: 0 22px 22px 0;
			font-size: 1.6rem;
			display: table;
			-moz-transition: all .1s ease-in;
			transition: all .1s ease-in;
			span {
				line-height: 130%;
				vertical-align: middle;
				display: table-cell;
				font-family: 'Open Sans',sans-serif;
				font-weight: 400;
				font-style: normal;
			}
		}
		.radios input[type=radio]{
			display:none
		}
		.radios input[type=radio]:checked + .radio{
			background-color: @primary-color;
			span {
				color: white;
			}
		}
		.textbox {
			input {
				width: 100%;
				padding: 14px 20px;
				height: 54px;
			}
		}
		.datetimepicker {
			max-width: 400px;
			.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
				background-color: @primary-color;
			}
		}
	}
}