/** Usage example
footer{
    width: 10px;
    @media @phone {
        padding: 3px;
    }
    @media @tablet {
        padding: 6px;
    }
}
*/
* {
  font-family: 'Open Sans', 'Open Sans', Helvetica, Arial, sans-serif;
}
* body {
  background-color: #F3F4F6;
}
* [class^="flaticon-"]:before,
* [class*=" flaticon-"]:before,
* [class^="flaticon-"]:after,
* [class*=" flaticon-"]:after {
  font-size: 1em !important;
}
* h1,
* h2 {
  font-weight: 300 !important;
}
* ul.wrapped-list {
  display: inline-block;
  text-align: left;
}
* ul.wrapped-list > li {
  white-space: nowrap;
}
* .circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
* .circular.shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
* .circular.centered {
  margin: 20px auto;
}
* .fa-large {
  font-size: 140px;
  text-align: center;
  padding: 10px;
}
* .text-big {
  font-size: 18px;
}
* .text-center {
  text-align: center;
}
* .video-container {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
* article.snippet h1 {
  font-size: 20px;
}
* article.snippet p {
  font-size: 18px;
}
* .testimonial {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid light-gray;
}
* .testimonial .testimonial-body {
  width: 100%;
  background: white;
  padding: 28px;
}
* .testimonial .testimonial-body p {
  text-align: center;
  font-size: 18px;
  font-style: italic;
}
* .image {
  min-height: 230px;
}
* [class^="flaticon-"]:before,
* [class*=" flaticon-"]:before,
* [class^="flaticon-"]:after,
* [class*=" flaticon-"]:after {
  margin-left: 0 !important;
}
* .section-filled {
  text-align: center;
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px;
  border-bottom: 1px;
}
* .section-filled button {
  min-width: 240px;
}
@media screen and (max-width: 767px) {
  * .section-filled button {
    width: 100%;
  }
}
* .section-filled h2 {
  margin-top: 5px;
  margin-bottom: 30px;
}
* .section-filled.white {
  background-color: white;
}
* .section-filled.white i {
  color: #FF6346;
}
* .section-filled i {
  font-size: 100px;
  color: #FF6346;
}
* .section-filled.filled {
  background-color: #FF6346;
  color: white;
}
* .section-filled.filled i {
  color: white;
}
* .section-filled.inverse {
  color: white;
}
* .section-filled.inverse i {
  color: white;
}
* .section-filled.inverse a {
  color: #FF6346;
}
* .row {
  margin-right: -10px;
  margin-left: -10px;
}
* .col-lg-1,
* .col-lg-10,
* .col-lg-11,
* .col-lg-12,
* .col-lg-2,
* .col-lg-3,
* .col-lg-4,
* .col-lg-5,
* .col-lg-6,
* .col-lg-7,
* .col-lg-8,
* .col-lg-9,
* .col-md-1,
* .col-md-10,
* .col-md-11,
* .col-md-12,
* .col-md-2,
* .col-md-3,
* .col-md-4,
* .col-md-5,
* .col-md-6,
* .col-md-7,
* .col-md-8,
* .col-md-9,
* .col-sm-1,
* .col-sm-10,
* .col-sm-11,
* .col-sm-12,
* .col-sm-2,
* .col-sm-3,
* .col-sm-4,
* .col-sm-5,
* .col-sm-6,
* .col-sm-7,
* .col-sm-8,
* .col-sm-9,
* .col-xs-1,
* .col-xs-10,
* .col-xs-11,
* .col-xs-12,
* .col-xs-2,
* .col-xs-3,
* .col-xs-4,
* .col-xs-5,
* .col-xs-6,
* .col-xs-7,
* .col-xs-8,
* .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
* .section-heading {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
}
.cta-form-container {
  min-height: 20px;
  padding: 32px;
  margin-bottom: 20px;
  background-color: rgba(250, 250, 250, 0.9);
  border: 1px solid #e3e3e3;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.cta-form-container form label {
  font-size: 17px;
  color: #000;
  padding-top: 2px;
  padding-bottom: 2px;
}
.cta-form-container form input {
  border-radius: 1px;
  padding: 14px 20px;
  height: 54px;
}
.cta-form-container form input.input-small {
  padding: 8px 14px;
  height: 42px;
}
.cta-form-container form p {
  color: #515254;
  text-align: center;
}
.navbar {
  background-color: white;
  margin-bottom: 0;
}
.navbar .navbar-nav > li > a {
  color: #3D454D;
}
footer .footer-main {
  background: #eaebed;
  padding-top: 30px;
  padding-bottom: 30px;
}
footer .footer-main h2 {
  color: #515254;
  font-size: 16px;
  margin-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
footer .footer-main ul {
  padding-left: 0;
  list-style: none;
}
@media screen and (min-width: 768px) {
  footer .footer-main ul.list {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
footer .footer-main ul > li a {
  font-size: 12px;
  color: #959698;
  cursor: pointer;
  cursor: hand;
}
footer .footer-bottom {
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.btn-default {
  min-width: 240px;
  margin-top: 38px;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: #FF6346;
  border: #FF6346;
  color: white;
  height: 58px;
}
.btn-default:active:hover,
.btn-default:hover,
.open > .btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus {
  background-color: #dd5235;
  border: #dd5235;
  color: white;
}
.funnel-modal .modal-dialog {
  min-width: 80%;
  text-align: center;
}
.funnel-modal button.close {
  font-size: 2em;
}
.funnel-modal .modal-body {
  text-align: center;
}
.funnel-modal form .content {
  display: none;
}
.funnel-modal form .funnel-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 32px;
}
.funnel-modal form .funnel-buttons {
  margin-top: 12px;
  margin-bottom: 12px;
}
.funnel-modal form .funnel-buttons .next-button {
  margin-top: 12px;
  margin-bottom: 12px;
  min-width: 260px;
}
.funnel-modal form .funnel-buttons .previous-button {
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  cursor: hand;
}
.funnel-modal form .funnel-input {
  max-width: 800px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8px;
  margin-bottom: 8px;
}
.funnel-modal form .text-input {
  width: 630px;
  height: 157px;
  padding: 15px;
  border-radius: 5px;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.funnel-modal form .radio-wrapper {
  display: inline-block;
}
.funnel-modal form .radios .radio {
  width: 160px;
  height: 98px;
  border: 2px solid #e9ebee;
  background-color: #fff;
  text-align: center;
  padding: 0 8px;
  cursor: pointer;
  vertical-align: top;
  border-radius: 5px;
  margin: 0 22px 22px 0;
  font-size: 1.6rem;
  display: table;
  -moz-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.funnel-modal form .radios .radio span {
  line-height: 130%;
  vertical-align: middle;
  display: table-cell;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.funnel-modal form .radios input[type=radio] {
  display: none;
}
.funnel-modal form .radios input[type=radio]:checked + .radio {
  background-color: #FF6346;
}
.funnel-modal form .radios input[type=radio]:checked + .radio span {
  color: white;
}
.funnel-modal form .textbox input {
  width: 100%;
  padding: 14px 20px;
  height: 54px;
}
.funnel-modal form .datetimepicker {
  max-width: 800px;
}
.funnel-modal form .datetimepicker .bootstrap-datetimepicker-widget table td.active,
.funnel-modal form .datetimepicker .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #FF6346;
}
.funnel-modal form .datetimepicker .bootstrap-datetimepicker-widget table td span.active {
  background-color: #FF6346;
}
.image {
  transition: height 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.image .image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(20, 20, 20, 0.45);
  z-index: 2;
}
.image .image-overlay .tile-grid {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  text-align: center;
  color: #fff;
  margin-top: -10px;
  -moz-transition: margin-top 0.4s ease-in-out;
  transition: margin-top 0.4s ease-in-out;
}
.image .image-overlay .tile-grid .tile-grid-itemTitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 20px;
}
.modal-progressbar {
  border-top: 1px solid #e5e5e5;
  background-color: #FF6346;
  height: 100px;
  position: relative;
}
.modal-progressbar .progressbar-overlay-progress {
  width: 50%;
  text-align: center;
  color: white;
}
.modal-progressbar .progressbar-percent-bar {
  height: 100%;
  background-color: #dd5235;
}
.modal-progressbar .progressbar-overlay-progress label {
  position: absolute;
  font-size: 1.6rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 400;
}
/** Usage example
footer{
    width: 10px;
    @media @phone {
        padding: 3px;
    }
    @media @tablet {
        padding: 6px;
    }
}
*/
.image-gallery .image-gallery-item {
  background-image: url("http://cdn.porch.com/bootstrap/0web/landingpages/desktop/porch_assist_plumber1_opt.jpg");
  min-height: 260px;
}
@media screen and (max-width: 767px) {
  .image-gallery .image-gallery-item {
    margin-top: 4px;
  }
}
.image-gallery .row {
  margin-top: 20px;
}
@media screen and (max-width: 767px) {
  .image-gallery .row {
    margin-top: 0px;
  }
}
.image-gallery .row:first-child {
  margin-top: 0;
}
.hero-area {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  color: #fff;
}
.hero-area .hero-area-background {
  background-image: url("../image/festival-b.png");
  -moz-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-area .hero-area-overlay {
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
.hero-area .hero-area-padding {
  margin-top: 110px;
  margin-bottom: 110px;
}
@media screen and (max-width: 767px) {
  .hero-area .hero-area-padding {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 991px) {
  .hero-area .hero-area-heading {
    margin-bottom: 40px;
    text-align: center;
  }
}
.hero-area .hero-area-heading h1 {
  font-weight: bold;
  margin-top: 0;
  font-size: 56px;
  line-height: 1.3em;
}
@media screen and (max-width: 767px) {
  .hero-area .hero-area-heading h1 {
    font-size: 40px;
  }
}
.hero-area .hero-area-heading p {
  font-size: 20px;
}
.overlay-area {
  text-align: center;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  color: #fff;
}
.overlay-area .overlay-background {
  background-image: url("../image/festival-c.png");
  -moz-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.overlay-area .overlay {
  background: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}
.overlay-area .overlay-padding {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .overlay-area .overlay-padding {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
.overlay-area .cta-form-container {
  margin-top: 20px;
}
.overlay-area .overlay-heading {
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (max-width: 991px) {
  .overlay-area .overlay-heading {
    margin-bottom: 40px;
    text-align: center;
  }
}
.overlay-area .overlay-heading p {
  font-size: 20px;
}
#image-venue {
  background-image: url("../image/gallery/venuehire.jpg") !important;
}
#image-marquee {
  background-image: url("../image/gallery/marquee.jpg") !important;
}
#image-toilet {
  background-image: url("../image/gallery/toilet1.png") !important;
}
#image-catering {
  background-image: url("../image/gallery/catering.jpg") !important;
}
#image-lighting {
  background-image: url("../image/gallery/lighting1.jpg") !important;
}
#image-av {
  background-image: url("../image/gallery/av.png") !important;
}
#image-wedding {
  background-image: url("../image/gallery/wedding.png") !important;
}
#image-photographer {
  background-image: url("../image/gallery/Photographer2.png") !important;
}
#image-furniture {
  background-image: url("../image/gallery/furniture.png") !important;
}
#image-florist {
  background-image: url("../image/gallery/florist.jpg") !important;
}
#image-stylist {
  background-image: url("../image/gallery/stylist.jpg") !important;
}
#image-fencing {
  background-image: url("../image/gallery/fencing.png") !important;
}
#image-suit {
  background-image: url("../image/gallery/suit.png") !important;
}
#image-live {
  background-image: url("../image/gallery/band.png") !important;
}
#image-festival {
  background-image: url("../image/gallery/festivalgirl.png") !important;
}
#image-festival-blur {
  background-image: url("../image/gallery/festival-blur.png") !important;
}
#image-corporate {
  background-image: url("../image/gallery/corporate.png") !important;
}
#image-testimonial-wedding {
  background-image: url("../image/gallery/wedding-couple.png") !important;
}
#image-testimonial-corporate {
  background-image: url("../image/gallery/corporate-function.png") !important;
}
#image-testimonial-conference {
  background-image: url("../image/gallery/conference.png") !important;
}
